# Ignore everything in this directory
dist/*
*TAGS
*~
.cabal-sandbox/*
cabal.sandbox.config
src/ForSyDe/Shallow/fig/*
.#*

# Test file for the CSDF and SADF Library
TestCSDF.hs
TestSADF.hs

# Crap from MacOS X
**/.DS_Store

# Except this file
!.gitignore
