# Ignore everything in this directory
dist/*
*TAGS
*~
.cabal-sandbox/*
cabal.sandbox.config
src/ForSyDe/Shallow/fig/*
.#*
.stack-work/*

# Ignore these directories from sharing sandbox using --sandbox option
lib/*
logs/*
packages/*
share/*
*.conf.d/*
add-source-timestamps

# Ignore this file from MacOS X
**/.DS_Store


# Except this file
!.gitignore
.sass-cache
/Gemfile.lock
_site
dist-newstyle
#*
*.old
\\#*
*.log
*.lock
/#github-actions-demo.yml#
